body {
  font-family: "Papyrus";
}

.Main-Image {
  border: solid 15px black;
  border-radius: 20%;
}

h1 {
  background-color: #556B2F;
  text-align: center;
  padding: 5px;
  font-family: cursive;
}

.section-title {
    text-transform: capitalize;
}

h2 {
  background-color: #e2e2e2;
  padding: 5px;
  text-align: center;
  font-family: "Copperplate";
}

.nb {
  list-style-type: none;
  }

footer ul li {
    display: inline-block;
    }

div ul li{
  list-style-type: none;
}

body {text-align: center;}

div {text-align: right;}
